<div class="row">
  <div class="col-sm-8 col-md-9 main">
    <div class="promo">
      <div class="promo-text">
        <div class="promo-content">
          Hello there
          <b>Welcome!</b>
          This is just a Emberjs authentication test
        </div>
        <div class="actions">
          {{#link-to 'sessions.index' class="btn btn-primary btn-lg"}}Login now{{/link-to}}
          <span class="spaced"> or </span>
          {{#link-to 'users.signup' class="btn btn-default btn-lg"}}Signup{{/link-to}}
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-4 col-md-3 well">
    <ul class="nav nav-sidebar">
      <li class="active"><a href="#">Overview</a></li>
      <li><a href="#">Reports</a></li>
      <li><a href="#">Analytics</a></li>
      <li><a href="#">Export</a></li>
    </ul>
  </div>
</div>
