<div class="panel panel-default">
  <div class="panel-heading">
    <h2>Users (Top Secret Stuff)</h2>
  </div>

  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Username</th>
        </tr>
      </thead>
      <tbody>
      {{#each model}}
        <tr>
          <td>{{#link-to 'users.user' this}}{{name}}{{/link-to}}</td>
          <td>{{email}}</td>
          <td>{{username}}</td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
</div>
