<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Data for the user {{name}}</h3>
  </div>

  <div class="panel-body">
    Name: {{name}} <br>
    Email: {{email}} <br>
    username: {{username}} <br>
  </div>
</div>
